<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://developer.samsung.com/HelloAccessoryProvider" version="2.0.0" viewmodes="maximized">
    <tizen:application id="UM2FcDkLYZ.HelloAccessoryProvider" package="UM2FcDkLYZ" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://developer.samsung.com/tizen/feature/network.accessory_protocol"/>
    <tizen:metadata key="AccessoryServicesLocation" value="res/xml/accessoryservices.xml"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    <icon src="icon.png"/>
    <name>HelloAccessoryProvider</name>
    <tizen:setting background-support="enable" encryption="disable" hwkey-event="enable"/>
    <tizen:profile name="wearable"/>
</widget>
