body
{
    background-color: rgb(239, 239, 239);
}
.page
{
    height: 100%;
    max-height: 100%;
    position: relative;
    min-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
.center
{
    width: 100%;
    text-align: center;
}
.box
{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(217, 217, 217);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(217, 217, 217);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(217, 217, 217);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(217, 217, 217);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.25) 1px 1px 2px 0px;
    box-sizing: border-box;
    color: rgb(51, 51, 51);
    display: block;
    float: none;
    line-height: 20px;
    margin-bottom: 20px;
    min-height: 20px;
    padding-bottom: 36px;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 36px;
    position: relative;
    text-size-adjust: 100%;
    width: 340px;
}
.tab
{
    margin-top: 15px;
    margin-bottom: 15px;
}
.tab_title
{
    font-size: 14px;
    font-weight: 700;
    text-align: left;
    padding-bottom: 10px;
}
input.ab
{
    background-color: rgb(255, 255, 255);
    background-image: none;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(204, 204, 204);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: text;
    display: block;
    height: 44px;
    letter-spacing: normal;
    line-height: 21.3333px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    transition-delay: 0s, 0s;
    transition-duration: 0.15s, 0.15s;
    transition-property: border-color, box-shadow;
    transition-timing-function: ease-in-out, ease-in-out;
    width: 266px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
    -webkit-appearance: none;
    -webkit-rtl-ordering: logical;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button
{
    align-items: flex-start;
    background-color: rgb(255, 214, 89);
    background-image: none;
    border-bottom-color: rgb(250, 181, 69);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(250, 181, 69);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(250, 181, 69);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(250, 181, 69);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    cursor: pointer;
    display: block;
    font-family: proxima-nova-rgregular;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 43.3333px;
    letter-spacing: normal;
    line-height: 21.3333px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 15px;
    overflow-x: visible;
    overflow-y: visible;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    white-space: nowrap;
    width: 266px;
    word-spacing: 0px;
    writing-mode: horizontal-tb;
}
button:hover {
    color: #555;
    background-color: #ffc926;
    border-color: #f89d09;
}

button:focus{
    color: #555;
    background-color: #ffc926;
    border-color: #ba7505;
}
button:hover, button:focus, button.focus {
    color: #333;
    text-decoration: none;
}
button:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.error
{
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #f55;
    font-size: 14px;
}
img {
    max-width: 100%;
    vertical-align: middle;
    border: 0;
}
.logo {
    padding: 40px 0 40px;
    text-align: center;
}
.logo img{
    width: 128px;
}
a 
{
    padding: 0px 15px;
}
.signUp
{
    float: left;
    width: 50%;
    text-align: left;
}
.forgot
{
    float: right;
    width: 50%;
    text-align: right;
}

.powerLogo
{
    margin-top: 20px;
    width: 100px;
}
.logo-container
{
    text-align: right;
}